h1 {
  color: palevioletred;
}
#p1 {
  color: rgb(249, 240, 240);
  font-style: normal;
  font-size: larger;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.list2 {
  list-style: circle;
}

#link {
  color: red;
}

img {
  width: 250px;
  border-style: solid;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: #8d7b82;
  border-radius: 20%;
}

body { position: relative;
  padding: 30px;
}

#navigate {
  position: fixed;
  top: 0px;
  left: 10px;
  display: flex;
}

.list1 { 
  list-style: none;
  display: flex;
  
}

#one {
  padding-left: 10px;
}
#two {
  padding-left: 40px;
}
#three {
  margin-right: 50px;
}
#four {
  margin-right: 60px;
}

article {
  padding-left: 30px;
}

.footer { padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  border-color: black;
  background-color: #8d7b82;
}

.topinfo {
  background-image: url("hero_picture.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px; 

}
  /*mobile*/
   @media only screen and (max-width: 600px) {
    h1{ font-size: 1rem;
        }
  } 
    