
h1 {
  color: palevioletred;
  
}
#p1 {color: rgb(249, 240, 240);
  font-style: normal;
  font-size: larger;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.list2 {
  list-style: circle;
}

#link {
  color: red;
}


img {
  width: 250px;
  border-style: solid;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: #8d7b82;
  border-radius: 20%;
}
 
body{padding: 30px;}

#navigate { position: fixed;
  top: 0px;
  left: 10px;
  display: flex;
  }

  ul{list-style: none;
  display: flex;
justify-content: space-between;}
 

#one{ margin-right: 10px;}
#two{ margin-right: 10px;}   
#three{ margin-right: 10px;}
#four{ margin-right: 10px;}
    


  
    
article{ padding-left:30px;}
 
.footer {
        border-style: ridge;
        border-color: black;
        }

 .topinfo {
          background-image: url("hero_picture.jpg");
          background-size: cover;
          background-position:top ;
          background-repeat: no-repeat;
           margin-top: 20px;
           margin-bottom: 20px;
           padding-left: 100px;
           padding-top: 10px;
           padding-bottom: 10px;}
   

    


 